.cart-items {
  list-style: none;
  margin-top: 0;
  padding: 0 1rem;
  max-height: 27.5rem;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 1.4rem;
  margin: 1rem 0 0 0;
  padding: 1rem 0;
}

.totalProducts {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  color: rgba(45, 42, 42, 0.696);
}

.totalProducts span {
  color: #936EFE;
  font-weight: 600;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.totalAmount.total-title {
  font-weight: 300;
}

.btn--close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  padding: .1rem .3rem .3rem .3rem;
  border: none;
  background-color: #333333;
  color: #fff;
  border-radius: 4px;
}

.btn--order {
  border: none;
  border-radius: 6px;
  padding: 1rem 1.2rem;
  background-color: #936EFE;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin-bottom: 1rem;
}

.btn--order span {
  font-size: 1.2rem;
}

.btn--order:hover,
.btn--order:active {
  background-color: #936EFE;
  transform: scale(103%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: 150ms;
  cursor: pointer;
}

.btn--order:active {
  transform: translate(0, .05rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}

.button-text-separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.btn-continue-shopping {
  position: absolute;
  bottom: 2rem;
  width: 260px;
  left: calc(50% - 130px);
  padding: 1rem 1.2rem;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
}

.btn-continue-shopping:hover {
  background-color: #333;
  transform: scale(103%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: 150ms;
  cursor: pointer;
}

@media (max-width: 475px) {
  .cart-items {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .cart-items {
    list-style: none;
    margin-top: 0;
    padding: 0;
    max-height: 21rem;
  }
}