@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.product-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem auto 0 auto;
    max-width: 1250px;
    width: 81%;
}

.product-header-container h2 {
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.sort-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-container span {
    font-size: 1.2rem;
    font-weight: 600;
}