.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 100vh;
    padding: 3rem;
}

.board-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.add-btn {
    border-radius: 100px;
    padding: .4rem .65rem .5rem .65rem;
    background-color: #936EFE;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.add-btn:hover {
    transform: scale(106%);
    cursor: pointer;
    transition: 150ms;
}

.add-btn:active {
  transform: translate(0, .05rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}

.board-title {
    width: 100%;
    max-width: 1250px;
    padding: 0 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.board-container {
    background-color: white;
    width: 100%;
    height: 80%;
    border-radius: 12px;
    max-width: 1250px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.board-data-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.product-image img {
    height: 10rem;
}

::-webkit-scrollbar {
    display: none;
  }

.product-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.product-item-container {
    width: 100%;
}

@media (max-width: 680px) {
    .product-container {
        flex-direction: column;
    }

    .product-image img {
        height: 14rem;
        width: 32rem;
    }
}

@media (max-width: 480px) {
    .board {
        padding: 0rem;
    }

    .board-container {
        margin-top: 10rem;
        background-color: transparent;
        height: 100%;
        border-radius: none;
        border-radius: none;
        box-shadow: none;
    }
}