.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    background-color: #ffffff;
    color: #333333;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }
  
  .header-item-container {
    width: 100%;
    margin: 1.1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
  }

  .header-item-container img {
    height: auto;
    width: 140px;
    padding-bottom: .2rem;
    cursor: pointer;
  }

  @media (max-width: 420px) {
    .header-item-container img {
      padding-bottom: 1.7rem;
      height: auto;
      width: 170px;
      margin-right: .5rem;
    }
  }