.add-icon {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    border: none;
    border-radius: 100px;
    padding: .4rem .65rem .60rem .65rem;
    background-color: #252525;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.add-icon:hover {
    transform: scale(106%);
    cursor: pointer;
    transition: 150ms;
}

.add-icon:active {
  transform: translate(0, .05rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}

@media (max-width: 400px) {
    .add-icon {
        right: 2rem;
    }
}