.product {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 2rem;
  }
  
  .product h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .price {
    margin-top: 0.25rem;
    color: #333;
    font-size: 1.4rem;
  }

  .select {
    position: absolute;
    bottom: 2.25rem;
    left: 3rem;
  }

  @media (max-width: 400px) {
    .product {
      margin: 1rem 0 0 1rem;
    }

    .select {
      left: 2rem;
    }
}