.checkout-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

.checkout-header img {
    width: 200px;
    height: auto;
}

.form-title span {
    font-weight: 300;
}

.card-payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.form-title {
    width: 100%;
    max-width: 550px;
    padding: 0 2rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form-Card-Information {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;

}
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    padding: .5rem 2rem;
    gap: .5rem;
}

.input-container label,
.expiration-input-container label,
.secure-input-container label {
    padding-left: .1rem;
    color: rgb(119, 119, 119);
}

.input-container input,
.expiration-input-container input,
.secure-input-container input {
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: #F4F3F6;
    font-size: 1rem;
    color: #333;
}

.card-info-bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;
    padding: .5rem 2rem;
    gap: 2rem;
}

.expiration-input-container,
.secure-input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.error {
    padding-left: 1rem;
    font-size: .8rem;
    color: #F17171;
    font-style: italic;
}

.total-cost-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: -4rem;

}

.cost-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 550px;
    padding: .5rem 2.5rem;
}

.form-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    padding: 0 2rem;
    gap: 1rem;
    margin: 2em 0;
}

.exit-btn {
    width: 20%;
    font-size: 1rem;
    color: rgb(119, 119, 119);
    background-color: #d4cbf1;
    border: none;
    border-radius: 6px;
    padding: 1rem;
    margin-top: 2rem;
}
.exit-btn:hover {
    transform: scale(103%);
    transition: 150ms;
    cursor: pointer;
    background-color: #f05627;
    color: rgb(247, 245, 245);
}

.form-btn {
    width: 80%;
    font-size: 1rem;
    background-color: #936EFE;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
}

.btn-text-separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-btn:hover,
.form-btn:active {
  background-color: #936EFE;
  transform: scale(103%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: 150ms;
  cursor: pointer;
}

.form-btn:active {
  transform: translate(0, .05rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}

@media (max-width: 400px) {
    .checkout-header {
        height: 5rem;
    }
    
    .information-form {
        gap: 0rem;
    }
    
    .form-title {
        font-size: 1.2rem;
    }

    .exit-btn {
        width: 25%;
    }
    
    .form-btn {
        width: 75%;
    }
}