.checkout-header {
    width: 100%;
    max-width: 555px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.arrow-back-icon-btn {
    position: absolute;
    left: 0;
    top: 53%;
    transform: translateY(-53%);
    margin-left: 2rem;
    font-size: 30px;
    color: #333;
}

.checkout-header img {
    width: 160px;
    height: auto;
}

.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.payment-form-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    padding: 0 2rem;
}

.form-title {
    width: 100%;
    max-width: 550px;
    padding: 0 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.del-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
    padding: 1.5rem 2rem;
    gap: .5rem;
    background-color: #F8F6FA;
    border-radius: 8px;
}

.del-container input {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.del-container img {
    width: auto;
    height: 40px;
}

.input-container label {
    padding-left: 1rem;
    color: rgb(119, 119, 119);
}

.input-container input {
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: #F4F3F6;
    font-size: 1rem;
    color: #333;
}

.error {
    padding-left: 1rem;
    font-size: .8rem;
    color: #F17171;
    font-style: italic;
}

.form-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 560px;
    padding: 0 2rem;
    gap: 1rem;
}

.form-btn {
    width: 100%;
    font-size: 1rem;
    background-color: #936EFE;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
}

.btn-text-separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-btn:hover,
.form-btn:active {
  background-color: #936EFE;
  transform: scale(103%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: 150ms;
  cursor: pointer;
}

.form-btn:active {
  transform: translate(0, .05rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}

@media (max-width: 430px) {
    .checkout-header {
        height: 2rem;
        margin: 1rem 0;
    }
}