.card {
    position: relative;
    height: 35rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: cover;
    width: 100%;
    max-width: 25rem;
}

.card:hover {
    transform: scale(101%);
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    transition: 150ms ease-in-out;
}

a {
    text-decoration: none;
    color: #333;
}

@media (max-width: 600px) {
    .card {
        height: 32rem;
    }
}

@media (max-width: 320px) {
    .card {
        height: 28rem;
        background-position: center 100%;
    }
}